
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/* shared styles */
.white{
    color: #FFFFFF;
}
.white2{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.9rem;
}
.bd{
    background-color: black;
}
.section-dec{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
.value{
    background-color: rgba(255, 255, 255, 0.1);
}

/* header section */
.header{
    background-color: rgba(17, 17, 17, 1);
}
.fitness{
    font-weight: 800;
    font-size: 2.1rem;
    color: #E6533C;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 45px;
    border: 1px solid #7a7a7a;
    border-radius: 39px;
    padding: 2px 10px 2px 2px;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-item{
    list-style: none;
}
.navbar{
    display: flex;
    margin: 50px 190px;
}
.head-title{
    font-weight: 900;
    font-size: 4.9rem;
    line-height: 0.9;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 9.8rem;
                                                
}
.head{
    display: flex;
    justify-content: space-between;
}
.head-btn{
    display: flex;
}
.headers{
    margin-left: 190px;
}

#btn-primary{
    background-color: #E6533C;
    border: none;
    border-radius: 46px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 12px;
}
.btn-secondary{
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    background-color: #E6533C;
    padding: 16px 47px;
    border-radius: 42px;
}
.btn-third{
    border: 1px solid #7a7a7a;
    border-radius: 42px;
    color: #FFFFFF;
    background-color: black;
    font-size: 1rem;
    font-weight: 500;
    padding:16px 47px;
    margin-left: 14px;

}
.badge1{
    display: flex;
    line-height: normal;
    border: 1px solid rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: rgba(48, 48, 48, 0.54);
    height: 96px;
    width: 206px;
    position: absolute;
    bottom: 64px;
    left: -110px;
    
}
.badge2{
   display: flex;
   flex-direction: column; 
   align-items: center;
   padding: 8px 16px;
   border-radius: 12px;
   border: 1px solid rgba(48, 48, 48, 0.54);
   background-color: rgba(48, 48, 48, 0.54);
   height: 80px;
   width: 170px;
   text-align: center;
   justify-content: center;
   position: absolute;  
   top: 150px;
   right: -100px;
}
.badge-title{
    font-weight: 900;
    font-size: 1.5rem;
    
}
.image-section{
    margin-right: 198px;
    position: relative;
    
}
 
.badge-icon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #E6533C;
    
}
.badge-icon2{
    font-size: 2.6rem;
    font-weight: 900;
    margin-left: 30px;
    margin-right: 80px;
}
/* some habits section  */
.changing-habits{
    margin: 0 190px;
}
.Habits{
    text-align: center;
    margin-top: 100px;
    
}
.Habit{
    font-size: 3rem;
}
.gym{
    font-size: 15px;
}
.img-movement{
    display: flex;
    justify-content:space-evenly;
    margin: 50px;
}
.movement{
    text-align: center;
    line-height: 0px;
}
.pic{
    border-radius: 100px;
}
.should{
    text-align: center;
}
/* some run section  */
.run{
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    margin: 0 190px;
    align-items: center;
    padding: 30px 30px;
}

.picture{
    height:312px;
    width: 366px; 
    border-radius:18px;
    object-fit: none;
    object-position: 66% 33%;  
    margin-right: 32px;
    margin-left: 90px;
}
.mile{
    font-size: 3rem;
}
.workout{
    height: 72px;
    width: 443px;
    line-height: 1.5;
    padding-bottom:10px ;
}
.bmi{
    margin: 88px 385px;
}
.bmi-title{
    font-weight: 900;
    font-size: 3rem;
}

.bmi-chart{
    background-color: rgba(34, 34, 34, 1);
    
}
.bmi-cal{
    text-align: left;
}
.claculator{
    font-size: 28px;
   font-weight: 900;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid  rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
}
.BMI{
    display: flex;
    background-color: rgba(34, 34, 34, 1);;
    justify-content: space-between;
    border-radius: 8px;
    text-align: center;
    margin: 88px 190px;
    padding-bottom: 50px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    
}
.label1{
    display: flex;
    gap: 5px;
    margin: -5px;
}


/* some main section  */
.meet-our-team{
    margin: 0 auto;
}
.team-dec{
    text-align: center;
    gap: 14px;
}
.team-dec h2{
    font-weight: 900;
    font-size: 3rem;
}
.jerome{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    background-color:rgba(34, 34, 34, 1); 
    border-radius: 18px;
    margin: 88px 190px;

}
.trainer{
    border-radius: 18px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 272px;
    text-align: center;
    position: relative;
    margin: -15px;
    margin-top: -10px;
    margin-bottom: 5px;

}

 .trainer img {
    border-radius:18px;
    max-width: 100%;
    height: 272px;
    object-fit: cover;
    position: relative;

   
 }
.trainer-ph{
    position: absolute;
    text-align: left;
    bottom: 10px;
    padding-left: 10px;
}

/* some footer section  */
.line{
    list-style: none;
}
 .footer-section{
    background-color: rgba(34, 34, 34, 1);
 }
.foot{
    display: flex;
    justify-content: space-evenly;
} 
 
.footer-section ul li a{
    text-decoration: none;
    margin: -40px;
}
.footer-section ul li{
    margin: 5px 0;
}
.footer2{
    text-align: left;
}
.footer3{
    margin: 5px 190px;
}
.footer-bottom{
    text-align: center;
    padding: 10px;
}

/* for medium divices */

@media screen and (max-width: 576px) {
    .head,
    .changing-habits,
    .img-movement,
    .Habits,
    .Run,
    .BMI,
    .jerome,
    .footer-section{
        flex-direction: column;
    }
    .hamburger{
        display: flex;
        justify-content: space-between;
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 2px;
    }
    .hamburger span{
        height: 5px;
        width: 25px;
        background-color: #E6533C;
        border-radius: 5px;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        background-color: #7a7a7a;
    }
    .hamburger{
        display: flex;
        justify-content: space-between;
        margin-left: 170px;
    }
    .footer-section{
        margin: 10px 10px;
        display: block;
    }
    .headers,
    .BMI,
    .bmi,
    .jerome,
    .footer-section,
    .footer-container,
    .footer2,
    .footer3,
    .fitness{
        margin: 10px 20px;
    }
    .img-movement,.should,.pic{
        text-align: center;
        align-items: center;
    }
    .image-section{
        margin-right: 10px;
    }
    .badge1{
        left: 50px;
        bottom: 250px;
    }
    .badge2{
        right: -5px;
        top: 50px;
    }
    .changing-habits{
        margin: 10px 10px;
        gap: 10px;
    }
    .run{
        margin: 10px 10px;
        display: block;
        gap: 10px;
        text-align: center;
    }
    .join{
        max-width: 100%;
    }
    .workout{
      max-width: 100%;  
    }
    .run-sec{
        margin-left: 30px;
    }
    .pic{
        max-width: 100%;
    }
    .picture{
        margin-left: 5px;
        margin-top: 10px;
        max-width: 100%;
    }
    .claculator{
    text-align: left;
    }
    .jerome{
        display: flex;
        flex-wrap: wrap;
        margin: 100px;
        margin: 10px 70px;
    }
    .jerome img, .join{
        max-width: 100%;
    }
    .trainer{
        align-items: center;
        max-width: 100%;
    }
     .foot, .footer-container{
        display: block;
        text-align: left;
       

     }
    .footer-container{
        text-align: left;
    
    }
     .footer-bottom,
     .fitness{
        text-align: left;
     }
     .jhamela{
        margin-left: -180px;
     }
     
     


    
}
